In [1]:
#Importing libraries
import numpy as np 
import pandas as pd 
import io
import matplotlib.pyplot as plt

In [2]:
# reading the csv file, del 2 columns from the file, checking first few rows of the file
data = pd.read_csv('BuyComputer.csv')
data.drop(columns=['User ID',],axis=1,inplace=True)
data.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [3]:
#Declare label as last column in the source file
label=data['Purchased']
label

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [4]:
#Declaring X as all columns excluding last
X=data[['Age','EstimatedSalary']]
X

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [5]:
# Splitting data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,label,test_size=0.3,random_state=29)
X_train, X_test, y_train, y_test

(     Age  EstimatedSalary
 340   53           104000
 227   56           133000
 116   35            75000
 364   42           104000
 210   48            96000
 ..   ...              ...
 352   42            90000
 296   42            73000
 34    27            90000
 236   40            57000
 371   60            83000

 [280 rows x 2 columns],      Age  EstimatedSalary
 53    35            23000
 32    21            16000
 19    48            29000
 260   35            77000
 249   35            97000
 ..   ...              ...
 129   26            84000
 338   38            55000
 188   35            72000
 22    48            41000
 242   50            88000

 [120 rows x 2 columns], 340    1
 227    1
 116    0
 364    1
 210    1
       ..
 352    1
 296    1
 34     0
 236    0
 371    1
 Name: Purchased, Length: 280, dtype: int64, 53     0
 32     0
 19     1
 260    0
 249    1
       ..
 129    0
 338    0
 188    0
 22     1
 242    1
 Name: Purchased, Length: 120, dtype: int64)

In [6]:
# Sacaling data
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [7]:
y_pred = []
len_x = len(X_train[0])
w = []
b = 0.2
print(len_x)

2

In [8]:
entries = len(X_train[:,0])
entries

280

In [9]:
for weights in range(len_x):
    w.append(0)
w

[0, 0]

In [10]:
# Sigmoid function
def sigmoid(z):
  return 1/(1+np.exp(-z))

def predict(inputs,w):
    z=np.dot(inputs,w)
    return sigmoid(z)

In [11]:
#Loss function
def loss_func(features,labels,w):
    observations = len(labels)
    predictions = predict(features, w)
    class1_cost = -labels*np.log(predictions)
    class2_cost = (1-labels)*np.log(1-predictions)
    cost = class1_cost - class2_cost
    cost = cost.sum() / observations
    return cost

dw = []
db = 0
J = 0
alpha = 0.1
for x in range(len_x):
    dw.append(0)

In [12]:
def update_weights(features, labels, weights, lr):    
    
    N = len(features)    
    predictions = predict(features, weights)    
    gradient = np.dot(features.T,  predictions - labels)    
    gradient /= N    
    gradient *= lr    
    weights -= gradient

    return weights

In [13]:
#Repeating the process 3000 times
cost_history = []
for i in range(3000):
    w = update_weights(X, label, w, alpha)

    #Calculate error for auditing purposes
    cost = loss_func(X, label, w)
    cost_history.append(cost)

    # Log Progress
    if i % 1000 == 0:
        print("iter: "+ str(i) + " cost: "+str(cost))

iter: 0 cost: inf

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: RuntimeWarning: overflow encountered in exp
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: RuntimeWarning: divide by zero encountered in log
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: RuntimeWarning: divide by zero encountered in log

iter: 1000 cost: inf
iter: 2000 cost: inf

In [14]:
#Print weight
w

#print bias
b

0.2

In [15]:
#predicting the label
predicted_labels=predict(X_test,w)

#print actual and predicted values in a table
predicted_labels,label

# Calculating accuracy of prediction
diff = predicted_labels - y_test
acc=1.0 - (float(np.count_nonzero(diff)) / len(diff))
acc

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: RuntimeWarning: overflow encountered in exp
  This is separate from the ipykernel package so we can avoid doing imports until

0.44999999999999996

In [16]:
# Fitting Logistic Regression to the Training set
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression(random_state = 26)

#Fit
LR=LR.fit(X_train,y_train)
#predicting the test label with LR. Predict always takes X as input
y_pred=LR.predict(X_test)
y_pred

array([0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1])